<!-- Modal -->
<div class="modal fade" id="updateModal{{row[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Peminjaman</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ url_for('updatePeminjaman')}}" method="post">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="mb-3">
                                <label for="kodePeminjaman" class="form-label">Kode Peminjaman</label>
                                <input type="text" class="form-control" id="kodePeminjaman" value="{{ row[0]}}" name="kodePeminjaman" readonly autocomplete="off" required>
                            </div>
                            <div class="mb-3">
                                <label for="kodeBuku" class="form-label">Kode Buku</label>
                                <input type="text" class="form-control" id="kodeBuku" value="{{ row[1]}}" name="kodeBuku" autocomplete="off" required>
                            </div>
                            <div class="mb-3">
                                <label for="NIM" class="form-label">NIM</label>
                                <input type="text" class="form-control" id="NIM" value="{{ row[2]}}" name="nim" autocomplete="off" required>
                            </div>
                            <div class="mb-3">
                                <label for="tglPeminjaman" class="form-label">Tanggal Peminjaman</label>
                                <input type="text" class="form-control" id="tglPeminjaman" value="{{ row[3]}}" name="tglPeminjaman" autocomplete="off" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="confirm('Anda Yakin');">UPDATE</button>
                </div>
            </form>
        </div>
    </div>
</div>